<% @follower_posts.each do |follower| %>
  <h3>
    Posts for  <%= follower[:name] %>
  </h3>
  <table class="bordered">
    <tr>
      <th>author</th>
      <th>title</th>
      <th>created</th>
      <th>cashout_time</th>
    </tr>

    <% follower[:posts].result.each do |discussion| %>
      <tr>
        <td><%= discussion.author %></td>
        <td><a href="https://steemit.com<%= discussion.url %>"><%= discussion.title %></a></td>
        <td class="created" id="<%= discussion.title %>"><%= discussion.created.to_time %></td>
        <td class="payout"><%= discussion.cashout_time.to_time %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  const offset = new Date().getTimezoneOffset() * -1;
  const created = document.querySelectorAll('.created')
  const payout = document.querySelectorAll('.payout')
  for (let c in created) {
    created[c].innerHTML = (moment.parseZone(created[c].innerHTML).add('minutes', offset).format('LLL'))
  }
  for (let c in payout) {
    payout[c].innerHTML = (moment.parseZone(payout[c].innerHTML).add('minutes', offset).format('LLL'))
  }
});
</script>
