<% @follower_posts.each do |follower| %>
  <h3>
    Posts for  <%= follower[:name] %>
  </h3>
  <table class="bordered">
    <tr>
      <th>author</th>
      <th>category</th>
      <th>title</th>
      <th>created</th>
      <th>active</th>
      <th>cashout_time</th>
      <th>cashout_time_raw</th>
      <th>total_vote_weight</th>
      <th>pending_payout_value</th>
      <th>total_pending_payout_value</th>
    </tr>

    <% follower[:posts].result.each do |discussion| %>
      <tr>
        <td><%= discussion.author %></td>
        <td><%= discussion.category %></td>
        <td><a href="https://steemit.com<%= discussion.url %>"><%= discussion.title %></a></td>
        <td><%= time_ago_in_words(discussion.created) %></td>
        <td><%= time_ago_in_words(discussion.active) %></td>
        <td><%= seconds_to_units(Time.now - discussion.cashout_time.to_time) %></td>
        <td><%= discussion.cashout_time %></td>
        <td><%= discussion.total_vote_weight %></td>
        <td><%= discussion.pending_payout_value %></td>
        <td><%= discussion.total_pending_payout_value %></td>
      </tr>
    <% end %>
  </table>
<% end %>
